{% extends 'base.html' %}

{% block title %}Únete a {% endblock %}

{% block header %}
    <br>
    <div class="row">
        <div class="col-sm-6 mx-auto">
            <h1>Únete a Blagger</h1>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-6 mx-auto">
            <br>
            <form method="post">
                <div class="form-group">
                    <label for="username">Usuario</label>
                    <input class="form-control" name="username" id="username" aria-describedby="usernameHelp"
                           placeholder="Introduce un nombre de usuario" required>
                    <small id="usernameHelp" class="form-text text-muted">El nombre de usuario es único.</small>
                </div>
                <div class="form-group">
                    <label for="password">Contraseña</label>
                    <input type="password" class="form-control" name="password" id="password"
                           aria-describedby="passwordHelp"
                           placeholder="Introduce la contraseña" minlength="8" required>
                    <small id="passwordHelp" class="form-text text-muted">Longitud mínima de 8 caracteres.</small>
                </div>
                <button type="submit" class="btn btn-primary">Registrarse</button>
            </form>
        </div>
    </div>
{% endblock %}
